<%- include('header') %>

<%- include('../partials/header') %>
<div class="main-w3layouts wrapper">
		<h1> new password</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/newPassword" method="post">
					<input id ='password' class="text" type="password" name="password" required="">
					<input class="text" type="hidden" name="passwordToken" value="<%= passwordToken %>"  required="">
					
					<input class="text" type="hidden" name="userId" value="<%= userId %>" placeholder="Password" required="">
					<input type="submit" name="submit" value="update">
				</form>
				<!-- <p><a href="/signup">Reset Password</a></p> -->
			</div>
		</div>

<%- include('footer') %>